
:root
{
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

header
{
    height: 15em;
}

header h1
{
    font-size: 8em;
    text-align: center;
}

body
{
    background-color: rgb(221, 201, 172);
}

.block
{
    width: 45%;
    min-height: 20em;
    float: left;
    padding: 2.5%;

}

main
{
    margin-left: 18em;
    background-color: floralwhite;
    border-radius: 2%;
    width: 80%;
}
main::after
{
    content:"";
    clear: both;
    display: block;
}

/* form
{

} */

.line
{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 2em;
}

.tiny
{
    height: 3em;
    width: 3em;
    margin: 0 1em;
}

object
{
    width: 2em;
}

input[type='radio']{
    content:'';
    display:block;
    width: 1em;
    height: 1em;
    margin: 20% auto;
    -webkit-appearance:none;
    -moz-appearance:none;
    border:1px solid darkgray;
    border-radius:10%;
    outline:none;
    box-shadow:0 0 5px 0px gray inset;
    }

input[type='radio']:checked{
    content:'';
    display:block;
    margin: 0;
    width: 1em;
    height: 1em;
    border-color: darkgrey;
    background-image: radial-gradient(red, grey);
    border-width: 0.1em;
    border-style: solid;
    }

span
{
  display: flex;
}

.divImage
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pImage
{
  max-height: 60em;
  /* border: 1px solid grey; */
  position: relative;
}

.hide
{
  display: none;
}

.show
{
  display: block;
}

textarea
{
  width: 100%;
  height: 3em;
}

input[type='checkbox'].tiny
{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid grey;
  background-color: darkgrey;
}

.border-color {
  border: 3px solid green;
  border-radius: 0.2em;
}

.border-color::before, .border::before, input[type='checkbox'].tiny::before
{
  content: "Border";
  position: absolute;
  display: block;
  color: black;
  font-size: 0.7em;
  margin-top: 1.25em;
  /* margin-left: 0.3em; */
}

.border:checked::before {
  transform: rotate(-45deg);
  font-size: 0.6em;
  border-bottom: 0.5em solid black;
  border-left: 0.5em solid black;
}

.text-color::before
{
  content: "Text";
  position: absolute;
  display: block;
  color: white;
  margin-top: 0.8em;
  margin-left: 0.3em;
}

input['number'] {
  -webkit-appearance:none;
  -moz-appearance:none;
  border:none;
}

#conteneur
{
  position: absolute;
  top:0;
}

#showText
{
  position: relative;
}

.showText-p
{
  position: absolute;
  text-align: center;
  font-size: 5em;
  width: inherit;
  font-family: 'Mina', sans-serif;
}

.box-text
{
  border: 1px dotted blue;
  display: inline;
}

#showText1
{
  transform: translate(0,-50%);
  top: 5%;
}

#showText2
{
  transform: translate(0,-50%);
  top: 50%;
}

#showText3
{
  transform: translate(0,-50%);
  top: 95%;
}

.hidden
{
  visibility: hidden;
}

.visible
{
  visibility: visible;
}
